@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm-sans-v6-latin-ext_latin-regular.woff2) format("woff2"), url(../fonts/dm-sans-v6-latin-ext_latin-regular.woff) format("woff"), url(../fonts/dm-sans-v6-latin-ext_latin-regular.eot) format("eot"), url(../fonts/dm-sans-v6-latin-ext_latin-regular.ttf) format("ttf"), url(../fonts/dm-sans-v6-latin-ext_latin-regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm-sans-v6-latin-ext_latin-500.woff2) format("woff2"), url(../fonts/dm-sans-v6-latin-ext_latin-500.woff) format("woff"), url(../fonts/dm-sans-v6-latin-ext_latin-500.eot) format("eot"), url(../fonts/dm-sans-v6-latin-ext_latin-500.ttf) format("ttf"), url(../fonts/dm-sans-v6-latin-ext_latin-500.svg) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dm-sans-v6-latin-ext_latin-700.woff2) format("woff2"), url(../fonts/dm-sans-v6-latin-ext_latin-700.woff) format("woff"), url(../fonts/dm-sans-v6-latin-ext_latin-700.eot) format("eot"), url(../fonts/dm-sans-v6-latin-ext_latin-700.ttf) format("ttf"), url(../fonts/dm-sans-v6-latin-ext_latin-700.svg) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titan One";
  src: url(../fonts/titan-one-v8-latin-ext_latin-regular.woff2) format("woff2"), url(../fonts/titan-one-v8-latin-ext_latin-regular.woff) format("woff"), url(../fonts/titan-one-v8-latin-ext_latin-regular.eot) format("eot"), url(../fonts/titan-one-v8-latin-ext_latin-regular.ttf) format("ttf"), url(../fonts/titan-one-v8-latin-ext_latin-regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@-webkit-keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.type-one,
.type-one-mobile,
.type-two-red,
.type-two-white,
.btn-read-more,
.btn-contacts-red,
.btn-contacts-white {
  display: inline-flex;
  justify-content: center;
  color: #d41443;
  background-color: #ffffff;
  min-width: 160px;
  padding: 15px 37px;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.type-one:hover, .type-one:focus,
.type-one-mobile:hover,
.type-one-mobile:focus,
.type-two-red:hover,
.type-two-red:focus,
.type-two-white:hover,
.type-two-white:focus,
.btn-read-more:hover,
.btn-read-more:focus,
.btn-contacts-red:hover,
.btn-contacts-red:focus,
.btn-contacts-white:hover,
.btn-contacts-white:focus {
  background-color: #ecebeb;
}

.type-one-mobile {
  min-width: 209px;
  padding: 15px 48px;
}
@media screen and (min-width: 786px) {
  .type-one-mobile {
    min-width: 186px;
    padding: 15px 43px;
  }
}

.type-two-red,
.type-two-white {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
}
@media screen and (min-width: 1280px) {
  .type-two-red,
.type-two-white {
    font-size: 14px;
    line-height: 1.28;
  }
}

.type-two-red {
  color: #ffffff;
  background-color: #d41443;
  padding: 9px 15px;
  min-width: 62px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.type-two-red:hover, .type-two-red:focus {
  background-color: #c7133e;
}
@media screen and (min-width: 1280px) {
  .type-two-red {
    min-width: 104px;
    padding: 15px 24px;
  }
}

.type-two-white {
  color: #d41443;
  background-color: #ffffff;
  padding: 9px 15px;
  min-width: 82px;
}
@media screen and (min-width: 1280px) {
  .type-two-white {
    min-width: 138px;
    padding: 15px 21px;
  }
}

.btn-read-more {
  min-width: 176px;
  padding: 15px 37px;
}

.btn-contacts-red {
  color: #ffffff;
  background-color: #d41443;
  min-width: 161px;
  padding: 15px 17px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-contacts-red:hover, .btn-contacts-red:focus {
  background-color: #d41342;
}
@media screen and (min-width: 768px) {
  .btn-contacts-red {
    min-width: 191px;
    padding: 15px 35px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-contacts-red {
    min-width: 198px;
  }
}

.btn-contacts-white {
  color: #d41443;
  background-color: #ffffff;
  padding: 16px 32px;
  min-width: 161px;
}
@media screen and (min-width: 768px) {
  .btn-contacts-white {
    min-width: 174px;
    padding: 15px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-contacts-white {
    min-width: 180px;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__container {
  display: flex;
}

.page-nav__list {
  display: flex;
}

.slick-track {
  display: flex;
}

.gallery__item {
  width: 370px;
  margin: 0 auto;
  text-align: center;
}

.masonry__thumb img {
  width: 100%;
  height: 100%;
}

.gread__list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 4px;
}

@media screen and (min-width: 768px) {
  .gread__list {
    grid-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
.gread__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gread__item:hover {
  transform: rotate(1turn) scale(1.1);
}

.gread__item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gread__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}
.gread__item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 768px) {
  .gread__item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}
.gread__item-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 768px) {
  .gread__item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}
.gread__item-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (min-width: 768px) {
  .gread__item-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}
.gread__item-5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gread__item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
  }
}
.gread__item-6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gread__item-6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}
.gread__item-7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 768px) {
  .gread__item-7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}
.gread__item-8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 768px) {
  .gread__item-8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}
.gread__item-9 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media screen and (min-width: 768px) {
  .gread__item-9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
  }
}
.gread__item-10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

@media screen and (min-width: 768px) {
  .gread__item-10 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.type-one:hover, .type-one:focus,
.type-one-mobile:hover,
.type-one-mobile:focus,
.type-two-red:hover,
.type-two-red:focus,
.type-two-white:hover,
.type-two-white:focus,
.btn-read-more:hover,
.btn-read-more:focus,
.btn-contacts-red:hover,
.btn-contacts-red:focus,
.btn-contacts-white:hover,
.btn-contacts-white:focus {
  background-color: #ecebeb;
}

.type-one-mobile {
  min-width: 209px;
  padding: 15px 48px;
}
@media screen and (min-width: 786px) {
  .type-one-mobile {
    min-width: 186px;
    padding: 15px 43px;
  }
}

.type-two-red,
.type-two-white {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
}
@media screen and (min-width: 1280px) {
  .type-two-red,
.type-two-white {
    font-size: 14px;
    line-height: 1.28;
  }
}

.type-two-red {
  color: #ffffff;
  background-color: #d41443;
  padding: 9px 15px;
  min-width: 62px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.type-two-red:hover, .type-two-red:focus {
  background-color: #c7133e;
}
@media screen and (min-width: 1280px) {
  .type-two-red {
    min-width: 104px;
    padding: 15px 24px;
  }
}

.type-two-white {
  color: #d41443;
  background-color: #ffffff;
  padding: 9px 15px;
  min-width: 82px;
}
@media screen and (min-width: 1280px) {
  .type-two-white {
    min-width: 138px;
    padding: 15px 21px;
  }
}

.btn-read-more {
  min-width: 176px;
  padding: 15px 37px;
}

.btn-contacts-red {
  color: #ffffff;
  background-color: #d41443;
  min-width: 161px;
  padding: 15px 17px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-contacts-red:hover, .btn-contacts-red:focus {
  background-color: #d41342;
}
@media screen and (min-width: 768px) {
  .btn-contacts-red {
    min-width: 191px;
    padding: 15px 35px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-contacts-red {
    min-width: 198px;
  }
}

.btn-contacts-white {
  color: #d41443;
  background-color: #ffffff;
  padding: 16px 32px;
  min-width: 161px;
}
@media screen and (min-width: 768px) {
  .btn-contacts-white {
    min-width: 174px;
    padding: 15px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-contacts-white {
    min-width: 180px;
  }
}

.conteiner {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.products__text {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-bottom: 15px;
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
}

.products__title {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-bottom: 15px;
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
}

.products__title-h3 {
  font-family: "DM Sans", sans-serif;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.products__list {
  text-align: center;
}

.products__items-pink {
  background: #ffb8ca;
  border-radius: 24px;
}

.products__items-coffee {
  background: #f0d1a5;
  border-radius: 24px;
}

.products__items-green {
  background: #c2e297;
  border-radius: 24px;
}

.products__items {
  padding: 160px 40px 40px 40px;
  width: 100%;
  height: 600px;
}

.products__items:not(:last-child) {
  margin-top: 16px;
}

.products__text-h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.advantages {
  background: #fff5f6;
}

.advantages__title {
  visibility: hidden;
  height: 0;
}

.advantages-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .advantages-menu {
    justify-content: space-around;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.advantages__item:nth-child(1)::before {
  background-image: url("../images/adv1.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url("../images/adv1@2x.png");
  }
}
.advantages__item:nth-child(2)::before {
  background-image: url("../images/adv2.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url("../images/adv2@2x.png");
  }
}
.advantages__item:nth-child(3)::before {
  background-image: url("../images/adv3.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url("../images/adv3@2x.png");
  }
}

.advantages__numbers {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages__numbers {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__numbers {
    font-size: 58px;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  max-width: 20em;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    margin-top: 13px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-top: 15px;
    margin-right: 30px;
  }
}

.contacts-section {
  background-image: linear-gradient(to bottom, #ffffff 5%, #ffffff 5%, #FFF5F6 5%, #FFF5F6 5%);
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
    height: 100%;
  }
}

.contacts__item {
  width: 220px;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
@media screen and (min-width: 769px) {
  .contacts__item {
    flex-basis: calc(100%/3 - 20px);
    margin: 10px;
    width: 220px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts-title {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contacts-box {
  padding: 43px 21px 43px 20px;
}

.contacts-box__title {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
}

.contacts-header__city {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts-city {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}

.contacts-timetable {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.contacts-header__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #ffa5ba;
}

.contacts__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.btn-contacts-red {
  width: 162px;
  display: block;
}

.footer {
  background-color: #fff5f6;
  padding-top: 110px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.information {
  max-width: 234px;
  margin-bottom: 45px;
}
@media screen and (min-width: 1280px) {
  .information {
    max-width: 480px;
  }
}
.information__about {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 17px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .information__about {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .information__about {
    font-size: 30px;
    line-height: 1.13;
  }
}
.information__span {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .information__span {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1280px) {
  .information__span {
    font-size: 58px;
    line-height: 1.13;
  }
}

.join {
  margin-bottom: 45px;
  text-align: right;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 45px;
}
.social__item {
  margin-right: 28px;
}
.social__item:last-child {
  margin-right: 0px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #e17992;
}
.social__icon {
  fill: #ffffff;
}
.social__link:hover, .social__link:focus {
  background-color: #c7133e;
}

.contact__phone {
  color: #c7133e;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .contact__phone {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__phone {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.contact__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contact__description {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__description {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.protection {
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.protection__span {
  margin-top: 22px;
  color: #907e82;
  max-width: 150px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
}
@media screen and (min-width: 768px) {
  .protection__span {
    max-width: 100%;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

body {
  font-family: "$primary-font", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }

}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}/*# sourceMappingURL=main.css.map */