body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
} 

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

@keyframes infiniteRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

%centered-content{
    display: flex;
    align-items: center;
}

