<section class="advantages">
  <h2 class="advantages__title" id="advantages">Advantages</h2>

  <div class="container">
    <ul class="advantages-menu">
      <li class="advantages__item">
        <p class="advantages__numbers">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__numbers">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__numbers">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
