

<section class="contacts-section">

    <h2 class="contacts-title">Contacts</h2>
    <div class="container">
        <!-- вся секция  -->
        <ul class="contacts">
           
            <li class="contacts__item">

                <!-- див оборачивает главную li -->

                <div class="contacts-box">
                    <p class="contacts-box__title">CAFE</p>
                    <h4 class="contacts-header__city">
                        Chicago
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <!-- расписание -->

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <h4 class="contacts-header"> Saturday - Sunday</h4>
                            <p class="contacts-header__text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <!-- контакты -->

                    <ul >
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                           </li>
                    </ul>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts-box">
                    <p class="contacts-box__title">FOODTRUCK</p>
                    <h4 class="contacts-header__city">
                        Los Angeles
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                        <h4 class="contacts-header">  Saturday - Sunday</h4>
                            <p class="contacts-header__text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>

                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts-box">
                    <p class="contacts-box__title">CAFE</p>
                    <h4 class="contacts-header__city">
                        New York
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <h4 class="contacts-header"> Saturday - Sunday</h4>
                            <p class="contacts-header__text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>

                </div>
            </li>

        </ul>

        <button type="button" class="btn-contacts-red">Our locations ></button>

        <button type="button" class="btn-contacts-white">Franchise ></button>
    </div>

</section>