<section class="contacts-section">

    <h2 class="contacts-title" id="contacts">Contacts</h2>
    <div class="container">
        <!-- вся секция  -->
        <ul class="contacts">
           
            <li class="contacts__item">

                <!-- див оборачивает главную li -->

                <div class="contacts-box">
                    <h3 class="contacts-box__title">CAFE</h3>
                    <h4 class="contacts-header__city">
                        Chicago
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <!-- расписание -->

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                        <li>
                            <h4 class="contacts-header"> Saturday - Sunday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                    </ul>

                    <!-- контакты -->

                    <ul >
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                           </li>
                    </ul>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts-box">
                    <h3 class="contacts-box__title contacts-green">FOODTRUCK</h3>
                    <h4 class="contacts-header__city">
                        Los Angeles
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                        <li>
                        <h4 class="contacts-header">  Saturday - Sunday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>

                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts-box">
                    <h3 class="contacts-box__title">CAFE</h3>
                    <h4 class="contacts-header__city">
                        New York
                    </h4>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts-timetable">
                        <li>
                            <h4 class="contacts-header">Monday - Friday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                        <li>
                            <h4 class="contacts-header"> Saturday - Sunday</h4>
                            <p class="contacts-header__text"><time>06:00 AM - 16:00 PM</time></p>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto: noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>

                </div>
            </li>

        </ul>
   
        <ul class="contacts-btn">
        <li class="contacts-btn__item">
            
           
            <a class="btn-contacts-red"
               href="https://www.google.com/maps/d/edit?mid=13fzvsG6gwdr0_rKhV_F11atmHITu5HM7&usp=sharing" target="_blank">
                Our locations >
            </a>

        </li>

        <li class="contacts-btn__item"><button data-modal-open type="button" class="btn-contacts-white">Franchise ></button></li>
        </ul>
   
    </div>

</section>

<!-- modal  -->

<div class="backdrop backdrop--is-hidden backdrop--layer" data-modal>
    <div class="contacts-modal">

        <button data-modal-close type="button" class="modal__btn-close">
            <svg width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>

        </button>

        <p class="contacts-modal__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, delectus distinctio. Et optio similique officia doloremque totam quo officiis perferendis labore natus voluptas! Nobis praesentium dolorem architecto, iste magni tenetur!
        </p>

        <form class="contacts-form">
         <div class="contacts-form__div">
        
            <input type="text" name="name" id="contacts-name" class="contacts-input" placeholder=" ">

            <label for="contacts-name" class="contacts-label">Name</label>
        </div>
        <div class="contacts-form__div">
            
            <input type="tel" name="tel" id="tel" class="contacts-input" placeholder=" ">

            <label for="tel" class="contacts-label">Phone</label>
            </div>
        </form>

        <button type="button" class="modal__btn-submit">
            Submit
        </button>
        <picture class="contacts__milk">
                <source srcset="././images/header-milk.png 1x, ././images/header-milk@2x.png 2x" />
                <img src="././images/header-milk.png" alt="Jug of milk" />
            </picture>
    </div>
    
</div>

