<section class=" customers-reviews">
<div class="multiple-items container">
<div>
    <div class="customer-reviews">
        <img src="/images/Customer1.jpg" alt="Customer1">
        <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
     </div>
</div>
<div>
        <div class="customer-reviews">
                <img src="/images/Customer2.jpg" alt="Customer1">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
        </div>
</div>
<div>
        <div class="customer-reviews">
                <img src="/images/Customer3.jpg" alt="Customer1">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
        </div>
</div>
</div>
</section>

