<section class=" customers-reviews">
<div class="multiple-items container">
<div>
    <div class="customer-reviews">
        <img src="/images/Customer1.jpg" alt="Customer1">
        <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
        <ul class=" customer-reviews__list-icon">
                <li class="customer-reviews__item"><img src="/images/customer-home.svg" alt="icon-home"></li>
                <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
                <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
        </ul>
     </div>
</div>
<div>
        <div class="customer-reviews">
                <img src="/images/Customer2.jpg" alt="Customer1">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                <h3 class="customer-reviews__title">Emma, Chicago</h3>
                <ul class=" customer-reviews__list-icon">
                        <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
                        <li class="customer-reviews__item"><img src="/images/customer-home.svg" alt="icon-home"></li>
                        <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
                </ul>
        </div>
</div>
<div>
        <div class="customer-reviews">
                <img src="/images/Customer3.jpg" alt="Customer1">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                <h3 class="customer-reviews__title">Monika, New York</h3>
                <ul class=" customer-reviews__list-icon">
                        <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
                        <li class="customer-reviews__item"><img src="/images/customer-ellipse.svg" alt="icon-ellipse"></li>
                        <li class="customer-reviews__item"><img src="/images/customer-home.svg" alt="icon-home"></li>
                </ul>
        </div>
</div>
</div>
</section>

