

   <footer class="footer">
      <div class="footer__container container">


         <div class="information">
            <p class="information__about">homemade ice cream made</p>
            <p class="information__span">with passion</p>
         </div>
         
   
      
   <div class="join">
      <ul class="social">
         <li class="social__item">
            <a target="_blank" href="https://github.com/" class="social__link">
               <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#github"></use>
               </svg>
            </a>
         </li>
         <li class="social__item">
            <a target="_blank" href="https://telegram.org.ru/494-registraciya-v-telegramm.html" class="social__link flex-pozition">
               <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#plane"></use>
               </svg>
            </a>
         </li>
         <li class="social__item">
            <a target="_blank" href="https://uk-ua.facebook.com/" class="social__link">
               <svg class="social__icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#facebook"></use>
               </svg>
            </a>
         </li>
      </ul>
      <p class="contact__description">Feel free to contact
      <a href="tel:+610383766284" class="contact__phone">+61 (0) 383 766 284</a>
   </p>
   </div>
 



</div>

<div class="protection">
   <p class="protection__span"> © 2019 - IceCream.
      All Rights Reserved. </p>
</div>
   </footer>

