<div class="container">
    
        <ul class="gread__list">
            <li class="gread__item gread__item-1">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-1.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-2">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-2.png"

                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-3">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-3.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-4">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-4.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-5">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-5.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-6">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-6.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-7">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-7.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-8">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-8.png"
                  alt=""
                />
              </div>
            </li>
            <li class="gread__item gread__item-9">
              <div class="masonry__thumb card">
                <img 
                class="masonry__img card__inner" 
                src="../src/images/foto-9.png"
              </div>
            </li>
            <li class="gread__item gread__item-10">
              <div class="masonry__thumb card">
                <img
                  class="masonry__img card__inner"
                  src="../src/images/foto-10.png"
                  alt=""
                />
              </div>
            </li>
          </ul>
  
</div>