<header class="header" id="home">
  <div class="header__wrap">
    <!-- верхняя строка -->
    <div class="header__wrap-topline">
      <img class="header__logo" src="././images/logo.png" alt="Logo IceCream" />
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-box">
            <a href="#home" class="header__nav-link header__nav-link--current">Home</a>
          </li>
          <li class="header__nav-box">
            <a href="#advantages" class="header__nav-link scrollto">About us</a>
          </li>
          <li class="header__nav-box">
            <a href="#how_its_made" class="header__nav-link scrollto">How it’s made?</a>
          </li>
          <li class="header__nav-box">
            <a href="#products" class="header__nav-link scrollto">Our products</a>
          </li>
          <li class="header__nav-box">
            <a href="#contacts" class="header__nav-link scrollto">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__wrap-topline header__wrap-topline--tablet">
        <div class="clear">
          <!-- кнопка мобильного меню -->
          <button
            type="button"
            class="header__menu-btn js-open-menu clear"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg
              class="header__menu-svg"
              width="20"
              height="14"
              fill="$accent-color"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 1h20M0 7h20M0 13h20" stroke="#D41443" />
            </svg>
          </button>
          <!-- конец кнопки мобильного меню -->
        </div>
        <button data1-modal-open type="button" class="type-one type-one--header">Buy now</button>
      </div>
    </div>
    <!-- конец верхней строки -->
    <!-- тайтл героя + две кнопки-ссылки -->
    <div class="header__wrap-title">
      <h1 class="header__title">
        <p>ice cream</p>
        <p>made with</p>
        <p class="header__title--accent">passion</p>
      </h1>
      <button
        onclick="document.location='#products'"
        type="button"
        class="type-two-red type-two-red--header scrollto"
      >
        Products
      </button>
      <button
        onclick="document.location='#how_its_made'"
        type="button"
        class="type-two-white type-two-white--header scrollto"
      >
        How it's made?
      </button>
    </div>
    <!-- конец тайтла героя + плюс две кнопки-ссылки -->
    <!-- 16 кафе и 24 тележки -->
    <div class="header__16-23 header__16-23--16">
      <p class="header__16-23-number">16</p>
      <p class="header__16-23-text">cafes</p>
      <span class="header__16-23-ellipse"></span>
    </div>
    <div class="header__16-23 header__16-23--23">
      <span class="header__16-23-ellipse"></span>
      <p class="header__16-23-number">23</p>
      <p class="header__16-23-text">food trucks</p>
    </div>
    <!-- конец 16 кафе и 24 тележки -->
    <!-- описание какие мы крутые -->

    <div>
      <button type="button" class="header__about-btn">
        <img src="././images/header-arrow.png" class="header__about-img" alt="arrow right" />
      </button>
      <p class="header__text-about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aspernatur adipisci
        dignissimos sit
      </p>
      <div class="header__text-about-wrap">
        <p class="header__text-big">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea nam eveniet consectetur
          impedit amet similique doloremque nobis facilis eius. Maxime debitis ad quia rerum
          pariatur blanditiis tempore voluptatibus officia! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis quasi quisquam sunt, voluptas esse aperiam? Asperiores,
          deleniti libero commodi laboriosam eos, obcaecati, velit corrupti cum quo consectetur
          autem minima reprehenderit.
        </p>
      </div>
    </div>
    <!-- конец какие мы крутые -->
    <!-- картинка героя -->
    <span class="header__ellipse"></span>
    <picture class="header__ice-cream">
      <source srcset="././images/header-ice-cream.png 1x, ././images/header-ice-cream@2x.png 2x" />
      <img src="././images/header-ice-cream.png" alt="Colored IceCream" />
    </picture>
    <picture class="header__milk">
      <source srcset="././images/header-milk.png 1x, ././images/header-milk@2x.png 2x" />
      <img src="././images/header-milk.png" alt="Jug of milk" />
    </picture>
    <picture class="header__tasty">
      <source srcset="././images/header-tasty.png 1x, ././images/header-tasty@2x.png 2x" />
      <img src="././images/header-tasty.png" alt="Girl with IceCream" />
    </picture>
    <!-- конец картинки героя -->
  </div>

  <!-- модалка -->
  <div class="backdrop backdrop--is-hidden1 backdrop--layer" data1-modal>
    <div class="contacts-modal">
      <button data1-modal-close type="button" class="modal__btn-close">
        <svg width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close_40px"></use>
        </svg>
      </button>

      <h3 class="modal__title">Make your choice</h3>
      <!-- <p class="contacts-madal__text">Lorem ipsum dolor sit amet</p> -->

      <form>
        <div class="label">
          <span>Choice our product</span>
          <label for="contacts-name" class="contacts-label"></label>
          <input
            list="products-list"
            type="text"
            id="contacts-name"
            class="contacts-input contacts__input--margin"
            placeholder="Products"
          />
          <datalist id="products-list">
            <option value="Ice Cream"></option>
            <option value="Ice Coffee"></option>
            <option value="Milkshakes"></option>
          </datalist>
        </div>
        <span>Number of servings</span>
        <div>
          <label for="count" class="contacts-label"></label>
          <input
            type="number"
            name="number"
            min="0"
            max="10"
            id="count"
            class="contacts-input contacts__input--margin"
            placeholder="Number of servings"
          />
        </div>

        <div class="label">
          <label for="contacts-name" class="contacts-label"></label>
          <input
            type="text"
            name="name"
            id="contacts-name"
            class="contacts-input contacts__input--margin"
            placeholder="Your name"
          />
        </div>
        <div>
          <label for="tel" class="contacts-label"></label>

          <input
            type="tel"
            name="tel"
            id="tel"
            class="contacts-input contacts__input--margin"
            placeholder="Your phone"
          />
        </div>
      </form>

      <button type="button" class="modal__btn-submit">Bay !!!</button>
    </div>
  </div>
  <!-- конец модалки -->
</header>

<!-- модалка mobile -->
<!-- <div class="backdrop backdrop--is-hidden1 backdrop--layer" data1-modal>
    <div class="contacts-modal">
      <button data1-modal-close type="button" class="modal__btn-close">
        <svg width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close_40px"></use>
        </svg>
      </button>

      <p class="contacts-madal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, delectus distinctio. Et
        optio similique officia doloremque totam quo officiis perferendis labore natus voluptas!
        Nobis praesentium dolorem architecto, iste magni tenetur!
      </p>

      <form>
        <div class="label">
          <label for="contacts-name" class="contacts-label"></label>
          <input
            type="text"
            name="name"
            id="contacts-name"
            class="contacts-input"
            placeholder="Name"
          />
        </div>
        <div>
          <label for="tel" class="contacts-label"></label>

          <input type="tel" name="tel" id="tel" class="contacts-input" placeholder="Phone" />
        </div>
      </form>

      <button type="button" class="modal__btn-submit">Bay !!!</button>
    </div>
  </div> -->
<!-- конец модалки -->
