<!-- <button type="button" class="type-one-mobile">Buy now ></button> -->

<div class="mobile-menu is-hidden">
    <div class="mobile-menu__container">
        
        <button class="mobile-close">
            <svg class="mobile-close__icon" width="16" height="16">
                <use href="../src/images/symbol-defs.svg#mobile-close"></use>
            </svg>
        </button>

        <button type="button" class="type-one-mobile">Buy now ></button>

    </div>

    <ul class="nav-list">
        <li class="nav-list__item">
            <a href="#page-header" class="nav-list__link">
                Home
            </a>
        </li>
        <li class="nav-list__item">
            <a href="#footer" class="nav-list__link">
                About us
            </a>
        </li>
        <li class="nav-list__item">
            <a href="#about" class="nav-list__link">
                How it's made?
            </a>
        </li>
        <li class="nav-list__item">
            <a href="#products" class="nav-list__link">
                Our products
            </a>
        </li>
        <li class="nav-list__item">
            <a href="#contacts" class="nav-list__link">
                Contacts
            </a>
        </li>
    </ul>
</div>