<section class="products">
    

    <div class="container">
        <p class="products__text">100% NATURAL</p>
        <h2 class="products__title" id="products">PRODUCTS</h2>
        
        <ul class="products__list">
            
              <li class="products__items pink">
                 <h3 class="products__title-h3"> ICE CREAM</h3>
                 <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                 aliqua facilisis.</p>
                <button type="button" data3-modal-open class="products_btn">
                    <img src="././images/arrow-righta.png" alt="стрелка">
                </button>
                <div class="backdrop3 backdrop--is-hidden3 backdrop3--layer" data3-modal>
                    <div class="products-modal">
                
                        <button data3-modal-close type="button" class="products-modal__btn-close">
                            <svg width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
                            </svg>
                        </button>
                        <p class="products-modal__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quaerat dolores ex tempore ipsam atque. Excepturi
                            numquam unde obcaecati hic consectetur nihil cupiditate optio neque?
                        </p>
                    </div>
                </div>
                
             </li>
            
            
          
            <li class="products__items coffee">
                <h3 class="products__title-h3">ICE COFFEE</h3>            
                <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" data4-modal-open class="products_btn">
                        <img src="././images/arrow-righta.png" alt="стрелка">
                    </button>
                    <div class="backdrop4  backdrop--is-hidden4 backdrop4--layer" data4-modal>
                        <div class="products-modal">
                    
                            <button data4-modal-close type="button" class="products-modal__btn-close">
                                <svg width="20" height="20">
                                    <use href="./images/symbol-defs.svg#icon-close_40px"></use>
                                </svg>
                            </button>
                            <p class="products-modal__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quaerat dolores ex tempore ipsam atque. Excepturi
                                numquam unde obcaecati hic consectetur nihil cupiditate optio neque?
                            </p>
                        </div>
                    </div>
                    
            </li>
        

           
            <li class="products__items green">
                <h3 class="products__title-h3"> MILKSHAKES</h3>
            
                <p class="products__text-h3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.
                </p>

                <button type="button" data5-modal-open class="products_btn">
                    <img src="././images/arrow-righta.png" alt="стрелка">
                </button>
                <div class="backdrop5 backdrop--is-hidden5 backdrop5--layer" data5-modal>
                    <div class="products-modal">
                
                        <button data5-modal-close type="button" class="products-modal__btn-close">
                            <svg width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
                            </svg>
                        </button>
                        <p class="products-modal__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quaerat dolores ex tempore ipsam atque. Excepturi numquam unde obcaecati hic consectetur nihil cupiditate optio neque?
                        </p>
                    </div>
                </div>

                <div class="backdrop5 backdrop--is-hidden5 backdrop5--layer" data5-modal>
                    <div class="products-modal">
                
                        <button data6-modal-close type="button" class="products-modal__btn-close">
                            <svg width="20" height="20">
                                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
                            </svg>
                        </button>
                        <p class="products-modal__text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maiores quidem, alias modi animi ipsum repudiandae fuga eligendi? Consectetur inventore alias suscipit unde, dolor corporis.
                    
                        </p>
                    </div>
                </div>
                
            </li>




            <!-- <button type="button" class="header__about-btn">
                <img src="././images/header-arrow.png" class="header__about-img" alt="arrow right" />
            </button>
            //—- появляющийся текст
            <div class="header__text-about-wrap">
                <p class="header__text-big">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ea nam eveniet consectetur
                    impedit amet similique doloremque nobis facilis eius. Maxime debitis ad quia rerum
                    pariatur blanditiis tempore voluptatibus officia! Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Reiciendis quasi quisquam sunt, voluptas esse aperiam? Asperiores,
                    deleniti libero commodi laboriosam eos, obcaecati, velit corrupti cum quo consectetur
                    autem minima reprehenderit.
                </p>
            </div>
            </div> -->
          

            
        </ul>

    </div>
</section>
