
<section class="products">
    

    <div class="container">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">products</h2>
        
        <ul class="products__list">
            
              <li class="products__items pink">
                 <h3 class="products__title-h3"> ICE CREAM</h3>

                 <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                 aliqua facilisis.</p>
             </li>
            
            
          
            <li class="products__items coffee">
                <h3 class="products__title-h3">ICE COFFEE</h3>
            
                <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
            </li>
        

           
            <li class="products__items green">
                <h3 class="products__title-h3"> MILKSHAKES</h3>
            
                <p class="products__text-h3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.
                </p>

            </li>

          
          

            
        </ul>

    </div>
</section>



