
<section class="products">
    

    <div class="conteiner">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">products</h2>
        
        <ul class="products__list">
            <div class="products__items-pink">
              <li class="products__items">
                 <h3 class="products__title-h3">ice cream</h3>

                 <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                 aliqua facilisis.</p>
             </li>
            </div>
            
          <div class="products__items-coffee">
            <li class="products__items">
                <h3 class="products__title-h3">ice coffee</h3>
            
                <p class="products__text-h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
            </li>
          </div>

           <div class="products__items-green">
            <li class="products__items">
                <h3 class="products__title-h3">milkshakes</h3>
            
                <p class="products__text-h3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.
                </p>

            </li>

          </div>
          

            
        </ul>

    </div>
</section>



