.about {
  background-color: $about-background;
  @media screen and(max-width: 767px) {
    background-image: url(/images/about-milk@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 85%;
  }
  @media screen and(min-width: 1280px) {
    background-image: url(/images/about-milk@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 85%;
  }
   

  // .about__label

  &__label {
    padding-top: 125px;
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 1.17;

    text-align: center;
    text-transform: uppercase;
    color: $title-color;

    @media screen and(min-width: 768px) {
      font-size: 26px;
      padding-top: 104px;
    }
    @media screen and(min-width: 1280px) {
      font-size: 30px;
      padding-top: 125px;
    }
  }

  // .about__title

  &__title {
    margin-top: 15px;
    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;

    @media screen and(min-width: 768px) {
      font-size: 48px;
    }
    @media screen and(min-width: 1280px) {
      font-size: 58px;
    }
  }

  //.about__content

  &__content {
    @media screen and(min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
    }

  }
  // .about__cow

  &__cow {
    display: flex;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
    @media screen and(min-width: 768px) {
      min-width: 340px;
      height: 340px;
      margin-top: 50px;
      margin-left: 29px;
    }
    @media screen and(min-width: 1280px) {
      min-width: 516px;
      height: 516px;
      margin-top: 50px;
      margin-left: 102px;
    }
    
  }
  // .about__thumb

  &__thumb {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: $primary-text-color;
    margin-left: 50px;
    margin-right: 50px;

    align-content: center;

    @media screen and(min-width: 768px) {
      font-size: 14px;
      line-height: 1.8;
      margin-left: 17px;
      margin-right: 36px;
    }
     @media screen and(min-width: 1280px) {
       font-size: 16px;
       line-height: 1.8;
       margin-left: 74px;
       margin-right: 117px;
     }
  }

  // .about__text

  &__text {
    margin-top: 46px;
    color: $black-color;
  }

  // .about__description

  &__description {
    white-space: normal;
    margin-top: 30px;
  }

  //.about__description-text

  &__description-text {
    margin-top: 10px;
    margin-bottom: 17px;  
    @media screen and(min-width: 768px) {
      margin-bottom: 56px;
    }
    @media screen and(min-width: 1280px) {
      margin-bottom: 45px;
    }
  }

  .btn-read-more:hover{
    background-color: $button-white-hov-col;
  }
}