.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 33%, #fff 33%);
}

.masonry__img {
  width: 100%;
  height: 100%;
}

.grid__list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 4px;

  perspective: 600px;
}

@media screen and (min-width: 768px) {
  .grid__list {
    grid-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.grid__item {
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item:hover {
  transform: scale(1.1);
}

.grid__item-1 {
  grid-column: 1/3;
  grid-row: 3/4;
}

@media screen and (min-width: 768px) {
  .grid__item-1 {
    grid-column: 1/2;
    grid-row: 4/7;
  }
}

.grid__item-2 {
  grid-column: 2/4;
  grid-row: 2/3;
}

@media screen and (min-width: 768px) {
  .grid__item-2 {
    grid-column: 2/3;
    grid-row: 3/6;
  }
}

.grid__item-3 {
  grid-column: 4/6;
  grid-row: 2/3;
}

@media screen and (min-width: 768px) {
  .grid__item-3 {
    grid-column: 2/3;
    grid-row: 6/9;
  }
}

.grid__item-4 {
  grid-column: 3/5;
  grid-row: 1/2;
}

@media screen and (min-width: 768px) {
  .grid__item-4 {
    grid-column: 3/5;
    grid-row: 1/7;
  }
}

.grid__item-5 {
  grid-column: 3/5;
  grid-row: 3/4;
}

@media screen and (min-width: 768px) {
  .grid__item-5 {
    grid-column: 3/4;
    grid-row: 7/10;
  }
}

.grid__item-6 {
  grid-column: 5/7;
  grid-row: 3/4;
}

@media screen and (min-width: 768px) {
  .grid__item-6 {
    grid-column: 5/6;
    grid-row: 3/6;
  }
}

.grid__item-7 {
  grid-column: 2/4;
  grid-row: 4/5;
}

@media screen and (min-width: 768px) {
  .grid__item-7 {
    grid-column: 5/6;
    grid-row: 6/9;
  }
}

.grid__item-8 {
  grid-column: 4/6;
  grid-row: 4/5;
}

@media screen and (min-width: 768px) {
  .grid__item-8 {
    grid-column: 6/7;
    grid-row: 2/5;
  }
}

.grid__item-9 {
  grid-column: 3/5;
  grid-row: 5/6;
}

@media screen and (min-width: 768px) {
  .grid__item-9 {
    grid-column: 6/7;
    grid-row: 5/8;
  }
}

.grid__item-10 {
  grid-column: 3/5;
  grid-row: 6/7;
}

@media screen and (min-width: 768px) {
  .grid__item-10 {
    grid-column: 7/8;
    grid-row: 4/7;
  }
}
