.header {
  margin: 0;
  padding: 0;
  background-color: $header-background;
  width: 100vw;
  min-height: 320px;
  height: 502px;
  padding: 6px 20px 0 20px;
  overflow: hidden;
  @include respond-to(tablet) {
    height: 399px;
    padding: 37px 34px 0 34px;
  }
  @include respond-to(desktop) {
    height: 665px;
    padding: 37px 46px 0 46px;
  }
}

.header__wrap {
  margin: 0 auto;
  max-width: 440px;
  width: 100%;
  height: 496px;
  border: 1px solid tomato;
  position: relative;
  @include respond-to(tablet) {
    max-width: none;
    width: 700px;
    height: 362px;
  }
  @include respond-to(desktop) {
    max-width: none;
    width: 1188px;
    height: 628px;
  }
}

.header__wrap-topline {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}

.header__wrap-topline--tablet {
  width: 20px;
  position: absolute;
  right: 0;
  @include respond-to(tablet) {
    width: 210px;
    right: 0;
  }
  @include respond-to(desktop) {
    width: 160px;
    right: 69px;
  }
}

.header__menu-svg {
  display: inline-flex;
  @include respond-to(desktop) {
    display: none;
  }
}

.header__ice-cream {
  display: block;
  position: absolute;
  z-index: 20;
  width: 171px;
  height: 410px;
  top: 86px;
  left: 97px;
  @include respond-to(tablet) {
    top: 26px;
    left: 344px;
    width: 143px;
    height: 336px;
  }
  @include respond-to(desktop) {
    top: 71px;
    left: 548px;
    width: 236px;
    height: 557px;
  }
}

.header__ellipse {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 77px;
  left: 16px;
  z-index: 10;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $title-color;
  @include respond-to(tablet) {
    top: -6px;
    left: 270px;
    width: 324px;
    height: 322px;
  }
  @include respond-to(desktop) {
    top: 15px;
    left: 429px;
    width: 538px;
    height: 538px;
  }
}

.header__wrap-title {
  position: absolute;
  top: 187px;
  left: 0;
  z-index: 30;
  @include respond-to(tablet) {
    top: 65px;
  }
  @include respond-to(desktop) {
    top: 134px;
    left: 69px;
  }
}

.header__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 19px;
  @include respond-to(tablet) {
    font-size: 22px;
    letter-spacing: 1.14;
    margin-bottom: 20px;
  }
  @include respond-to(desktop) {
    font-size: 38px;
    letter-spacing: 1.16;
    margin-bottom: 25px;
  }
}

.header__title--accent {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: $accent-color;
  @include respond-to(tablet) {
    font-size: 34px;
    letter-spacing: 0.9;
  }
  @include respond-to(desktop) {
    font-size: 58px;
    letter-spacing: 0.9;
  }
}

.type-one--header {
  display: none;
  @include respond-to(tablet) {
    display: block;
  }
  @include respond-to(desktop) {
    display: block;
  }
}
