.header {
  margin: 0;
  padding: 0;
  background-color: $header-background;
  width: 100vw;
  min-height: 320px;
  height: 502px;
  padding: 6px 20px 0 20px;
  overflow: hidden;
  @include respond-to(tablet) {
    height: 399px;
    padding: 37px 34px 0 34px;
  }
  @include respond-to(desktop) {
    height: 665px;
    padding: 37px 46px 0 46px;
  }
}

.header__wrap {
  margin: 0 auto;
  max-width: 440px;
  width: 100%;
  height: 496px;
  // border: 1px solid tomato;
  position: relative;
  @include respond-to(tablet) {
    max-width: none;
    width: 700px;
    height: 362px;
  }
  @include respond-to(desktop) {
    max-width: none;
    width: 1188px;
    height: 628px;
  }
}

.header__wrap-topline {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid blue;
}

.header__wrap-topline--tablet {
  width: 20px;
  position: absolute;
  right: 0;
  @include respond-to(tablet) {
    width: 210px;
    right: 0;
  }
  @include respond-to(desktop) {
    width: 160px;
    right: 69px;
  }
}

.header__nav {
  display: none;
  @include respond-to(desktop) {
    display: block;
    // border: 1px solid green;
  }
}

.header__nav-list {
  display: flex;
  position: absolute;
  top: 13px;
  left: 309px;
  list-style: none;
}

.header__nav-box {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;

  margin: 0;
  padding: 0;
}

.header__nav-link {
  color: $white-color;
  text-decoration: none;
}

.header__nav-box:not(:last-child) {
  margin-right: 30px;
}

.header__menu-svg {
  display: inline-flex;
  @include respond-to(desktop) {
    display: none;
  }
}

.header__ice-cream {
  display: block;
  position: absolute;
  z-index: 20;
  width: 171px;
  height: 410px;
  top: 86px;
  left: 97px;
  @include respond-to(tablet) {
    display: block;
    top: 26px;
    left: 344px;
    width: 143px;
    height: 336px;
  }
  @include respond-to(desktop) {
    display: block;
    top: 71px;
    left: 548px;
    width: 236px;
    height: 557px;
  }
}

.header__ellipse {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 77px;
  left: 16px;
  z-index: 10;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $title-color;
  @include respond-to(tablet) {
    top: -6px;
    left: 270px;
    width: 324px;
    height: 322px;
  }
  @include respond-to(desktop) {
    top: 15px;
    left: 429px;
    width: 538px;
    height: 538px;
  }
}

.header__wrap-title {
  position: absolute;
  top: 187px;
  left: 0;
  z-index: 30;
  @include respond-to(tablet) {
    top: 65px;
  }
  @include respond-to(desktop) {
    top: 134px;
    left: 69px;
  }
}

.header__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 19px;
  @include respond-to(tablet) {
    font-size: 22px;
    letter-spacing: 1.14;
    margin-bottom: 20px;
  }
  @include respond-to(desktop) {
    font-size: 38px;
    letter-spacing: 1.16;
    margin-bottom: 25px;
  }
}

.header__title--accent {
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: $accent-color;
  @include respond-to(tablet) {
    font-size: 34px;
    letter-spacing: 0.9;
  }
  @include respond-to(desktop) {
    font-size: 58px;
    letter-spacing: 0.9;
  }
}

.type-one--header {
  display: none;
  @include respond-to(tablet) {
    display: block;
  }
  @include respond-to(desktop) {
    display: block;
  }
}

.header__milk {
  display: none;
  @include respond-to(tablet) {
    display: block;
    position: absolute;
    top: 208px;
    left: 0;
    width: 124px;
    height: 126px;
  }
  @include respond-to(desktop) {
    display: block;
    position: absolute;
    top: 392px;
    left: 31px;
    width: 188px;
    height: 191px;
  }
}

.header__16-23 {
  display: none;
  @include respond-to(tablet) {
    display: block;
    position: absolute;
    left: 649px;
    width: 53px;
    height: 43px;
    z-index: 30;
  }
  @include respond-to(desktop) {
    display: block;
    position: absolute;
    top: 118px;
    left: 1045px;
    width: 92px;
    height: 76px;
    z-index: 30;
  }
}

.header__16-23--16 {
  @include respond-to(tablet) {
    top: 57px;
  }
  @include respond-to(desktop) {
    top: 118px;
  }
}

.header__16-23--23 {
  @include respond-to(tablet) {
    top: 113px;
  }
  @include respond-to(desktop) {
    top: 210px;
  }
}

.header__16-23-ellipse {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 25;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white-color;
  @include respond-to(desktop) {
    width: 30px;
    height: 30px;
  }
}

.header__16-23-number {
  display: block;
  position: absolute;
  top: 2px;
  right: 10px;
  z-index: 35;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  @include respond-to(desktop) {
    font-size: 46px;
    line-height: 1.15;
    top: 4px;
    right: 18px;
  }
}

.header__16-23-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 35;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: $white-color;
  @include respond-to(desktop) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.header__tasty {
  margin: 0;
  padding: 0;
  display: none;
  z-index: 35;
  @include respond-to(tablet) {
    display: block;
    position: absolute;
    top: 228px;
    left: 532px;
    width: 168px;
    height: 133px;
  }
  @include respond-to(desktop) {
    display: block;
    position: absolute;
    top: 395px;
    left: 832px;
    width: 293px;
    height: 232px;
  }
}

.header__text-about {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: $white-color;

  @include respond-to(tablet) {
    display: block;
    width: 114px;
    height: 48px;
    top: 255px;
    left: 120px;
  }
  @include respond-to(desktop) {
    display: block;
    width: 200px;
    height: 78px;
    top: 448px;
    left: 249px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.header__about-btn {
  display: none;
  position: absolute;
  background-color: $white-color;
  border: none;
  padding: 0;
  @include respond-to(tablet) {
    display: block;
    top: 310px;
    left: 120px;
    border-radius: 50%;
  }
  @include respond-to(desktop) {
    display: block;
    top: 546px;
    left: 249px;
    border-radius: 50%;
  }
}

.header__about-img {
  display: block;
  @include respond-to(tablet) {
    display: block;
    width: 18px;
    height: 18px;
  }
  @include respond-to(desktop) {
    display: block;
    width: 26px;
    height: 26px;
  }
}
