.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 200ms linear, visibility 200ms linear;
}

.mobile-menu__content {
  position: fixed;
  background-color: $menu-background;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 250ms $cubic-bezier 200ms;

  @media screen and (min-width: 768px) {
    width: 530px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
    pointer-events: none;
  }
}

.mobile-menu__container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 19px;
}

.mobile-close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 23px;
  right: 0;
  margin-right: 28px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $white-color;
  cursor: pointer;

  transition: background-color 250ms $cubic-bezier;

  @media screen and (min-width: 768px) {
    margin-right: 34px;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
  }
}

.mobile-close__icon {
  fill: currentColor;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 21px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.nav-list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}

.nav-list__link {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.285;
  color: $white-color;
  &:hover,
  &:focus {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu.is-open .mobile-menu__content {
  transform: translateX(0);
}

// ---------- ниже селекторы для модальной формы

.backdrop--layer {
  z-index: 55;
}

.backdrop.backdrop--is-hidden2 {
  opacity: 0;
  pointer-events: none;
}
