.mobile-menu {
  position: fixed;
  background-color: $menu-background;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2000;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 530px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
    pointer-events: none;
  }
}

.mobile-menu__container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 19px;
}

.mobile-close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 23px;
  right: 0;
  margin-right: 28px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    right: 34px;
  }
  &:hover,
  &:focus,
  &:active {
    background: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 21px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.nav-list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e18298;
  &:first-child {
    border-top: 1px solid #e18298;
  }
}

.nav-list__link {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.285;
  color: $white-color;
  &:hover,
  &:focus {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
