// шрифты

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

// Цвета, все. Назвал как фантазии хватило.

$accent-color: #D41443; // красный
$title-color: #FFA5BA; //фон эллипса, заголовки, неактивные иконки, время работы
$primary-text-color: #907E82; // цвет "серенького текста"
$line-color: #E1E1E1; // цвет линий и иконки в комментах

$header-background: #FFB8CA; // фон хэдера и "Ice cream"
$coffee-background: #F0D1A5; // фон "Ice coffee" и "CAFE"
$milkshakes-background: #C2E297; // фон "Milkshakes" и "FOOD TRUCK"
$comments-background: #FAFAFA; // цвет фона в комментах
$menu-background: #E17992; // фон мобильного меню

$white-color: #FFFFFF;
$black-color: #000000;

// Время трансформации и кубик Безье

$animation-duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
